@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgb(17, 24, 39) 30%,
    rgb(32, 7, 0) 70%,
    rgb(70, 14, 0) 100%
  );
}

.webtitle {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 1.5em 0em;
  width: 40em;
}
.webtitle > span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

  /* Clip Background Image */

  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.start_journey_text {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  color: #bebcbc;
}

.start_journey {
  text-transform: uppercase;
  font-family: "verdana";
  font-size: 7em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #300b00, 1px 2px 1px #300b00, 1px 3px 1px #300b00,
    1px 4px 1px #300b00, 1px 5px 1px #300b00, 1px 6px 1px #300b00,
    1px 7px 1px #300b00, 1px 8px 1px #300b00, 1px 9px 1px #300b00,
    1px 10px 1px #300b00, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);

  transition: 1s;
}

.auth_title {
  text-transform: uppercase;
  font-family: "verdana";
  font-size: 2em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #300b00, 1px 2px 1px #300b00, 1px 3px 1px #300b00,
    1px 4px 1px #300b00, 1px 5px 1px #300b00, 1px 6px 1px #300b00,
    1px 7px 1px #300b00, 1px 8px 1px #300b00, 1px 9px 1px #300b00,
    1px 10px 1px #300b00, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);

  transition: 1s;
}

.start_journey:hover {
  font-size: 10em;
  color: #793905;
}

.start_journey_text {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  color: #bebcbc;
}

.ecosystem_title {
  text-transform: uppercase;
  font-family: "verdana";
  font-size: 4em;
  font-weight: 700;
  color: #a19d9d;
  text-shadow: 1px 1px 1px #300b00, 1px 2px 1px #300b00, 1px 3px 1px #300b00,
    1px 4px 1px #300b00, 1px 5px 1px #300b00, 1px 6px 1px #300b00,
    1px 7px 1px #300b00, 1px 8px 1px #300b00, 1px 9px 1px #300b00,
    1px 10px 1px #300b00, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);

  transition: 1s;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
